name                    = "ipadd"
allowed_cidrs           = ["10.0.0.1/32"]
region                  = "us-east-2"
vpc_id                  = "vpc-1234"
subnet_ids              = ["subnet-1234", "subnet-1234"]
route53_zone_id         = "Z01234"
route53_wildcard_domain = "example.com"
instance_type           = "t3.xlarge"
github_token            = "abcd"
github_owner            = "johnluc"